
body {
	font-family: 'Gloria Hallelujah', serif;
	 background-image: url("images/background.jpg");
	background-repeat: repeat;
	margin:0;
 text-align: center;
	margin-top: 2cm;
}
h1 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  border-bottom: 1px solid white;
  margin-top: 30px;
	color: white;
}
p{
	font-family: 'Libre Baskerville', serif;
}
ul{
 list-style-type: none;
}
.boxed {
  background-color: whitesmoke;
	width: 60%;
	align-content: center;
	margin-left: auto;
margin-right: auto;
}
#container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.box{
	margin: inherit;
	margin-left: 50px;
	width: 25%;
}


small{
	color:black;
}

.mySlides {display: none}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: red;
}


.text {
   color: red;
  font-size: 2.5em;
  -webkit-text-stroke: 2px white;
	
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #DB2427;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
 
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
nav ul li a:link, nav ul li a:visited {
	color: #14A080;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
	color: #fff;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
    font-size: .8em;
	text-transform: uppercase;
	letter-spacing: .2em;
	flex: 1 1 50%;
}
nav ul li a { 	
  display: block; 	
  border: 1px solid; 
  padding: .5em 1em; 	
  border-radius: .5em; 
  margin: .25em; 
	background-color: #F0D04A;
  } 
a:link {
  color: red;
	text-decoration: underline;
}

a:visited {
  color: green;
}


a:hover {
  color: hotpink;
}

a:active {
  color: blue;
}
copyright {
        
        width: 100%;
        color: #fff;
        line-height: 10px;
        font-size: 0.5em;
        text-align: center;
        bottom:0;
    }
footer {
	height: 25px;
        width: 100%;
        background-color: #EDB843;
	bottom:0;
    }



@media screen and (min-width: 400px){
	nav ul li {
		flex:none;}
	nav ul{
		justify-content: center;
	}
}

@media screen and (max-width: 480px){
	 img{
		float: left;
	margin: 0 1em 1em 0;
	}
	#container{
		display: none;
	}
	p{
		display: none;
	}

body{
		 font-family: 'Libre Baskerville', serif;
	}
	}
}
@media screen and (max-width: 600px){
	header p{
		display: block;
		margin-top: -1.5em;
		font-family: Georgia, serif;
		font-style: italic;
		font-size: 1.2em;
	}
	body{
		 font-family: 'Gloria Hallelujah', serif;
	}
	#container{
		display: none;
	}
	p{
		display: none;
	}
}
media screen (min-width: 940px){
body{
font-family: 'Gloria Hallelujah', serif;
	 
}
#container{
		display: grid;
		grid-template-rows: auto min-height 5em;
		grid-template-columns: minmax (25em, 1fr) 16em;
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
	}
	footer{
		grid-area: footer;
	}
}